<div class="login">
  <mat-card class="login">

    <mat-card-header>
      <mat-icon mat-card-avatar>
        account_circle
      </mat-icon>

      <mat-card-title>
        Autenticação do sistema
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-form-field class="example-form-field">
          <mat-label>Usuário</mat-label>
          <input matInput type="text" [(ngModel)]="username" [formControl]="usernameFormControl" >
          <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            O nome usuário é <strong>necessário</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-form-field">
          <mat-label>Senha</mat-label>
          <input type="password" matInput [(ngModel)]="password" [formControl]="passwordFormControl" >
          <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            A senha é <strong>necessária</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button (click)="entrar()" >Entrar</button>
      </p>
    </mat-card-content>
  </mat-card>
</div>
